@charset "utf-8";
/*Typographical styles for index
   
   Filename: index_styles.css
   Author: Jett Vessels
   Date: 02/20/2020

*/

/* Window and Body Styles */



/* Page Header Styles */




/* Horizontal Navigation List Styles */




/* Topics Styles */
  



/* Customer Comment Styles */




/* Footer Styles */

